<a href="https://colab.research.google.com/github/Vynogradova/homework/blob/main/Homework_8_1_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D0%B8_Python_%22C%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81_Python_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнє завдання до теми "Синтаксис Python"

В ДЗ першого модулю важливою умовою виконання завдань є те, що ми не імпортуємо жодних бібліотек, а робимо все на чистому Python, використовуючи лише базовий функціонал. Це необхідно аби відпрацювати роботу з базовими типами даних. А використовувати бібліотеки ми ще навчимось далі :)

1. Створіть змінну, яка буде зберігати кількість яблук. І надайте їй значення 5. Виведіть значення змінної на екран.

In [4]:
Apple_count = 5

In [10]:
print (Apple_count)

5

2. Виведіть тип змінної, створеної в завданні (1).

In [11]:
print (type(Apple_count))

<class 'int'>

3. Додайте до значення змінної, створеної в завданні (1) число `12` і виведіть результат на екран з допомогою команди `print()`.

In [13]:
print (Apple_count + 12)

17

4. Запустіть код нижче аби створити дві змінні.

In [16]:
a = 48
b = 3

In [23]:
print (a, b, c)

48 3 16.0

In [19]:
c = a/b

In [20]:
print (c)

16.0

In [25]:
print (type (a), type (b), type (c))

<class 'int'> <class 'int'> <class 'float'>

In [26]:
print(c.is_integer())

True

Створіть ще одну нову клітинку, тільки тепер вище цієї. Для цього натисніть  англійську літеру `A`, коли ви НЕ в режимі редагування клітинки. Виведіть в новоствореній клітинці значення і тип кожної зі змінних `a`, `b`, `c`. Проаналізуйте результат.

У Python, коли ви ділите одне ціле число на інше, результат буде автоматично приведений до типу float, якщо він не є цілим числом. Це робиться для того, щоб забезпечити більш точний результат ділення, особливо коли результат міг би бути десятковим числом.

5. Перегляньте наступний код, подумайте, що він виведе в результаті, та потім, запустіть його.

In [27]:
a = 10
a = 12
a = 15

b = 4
b = 8
b = 14

c = 3
c = 6
c = 9


a + b + c

38

В клітинці нижче закоментуйте деякі рядки так, аби в результаті виконання останнього рядка коду (`a + b + c`) вивелось `17`.
Увага! Рядки треба саме закоментувати, а не видалити.
Можна зручно коментувати рядки з допомогою комбінації клавіш `Ctrl + /` (`Command + /` для Mac)

In [28]:
a = 10
#a = 12
#a = 15

b = 4
#b = 8
#b = 14

c = 3
#c = 6
#c = 9


a + b + c

17